.condition-specific {
    display: none; /* 초기에는 모두 숨깁니다. */
    margin: 0 auto; /* 테이블을 중앙에 정렬 */
    width: max-content; /* 테이블의 너비를 내용에 맞게 설정 */
    font-family: sans-serif; /* 원하는 폰트 추후에 설정 */
}


#score {
    text-align: center; /* 가운데 정렬 */
    font-size: 24px; /* 글꼴 크기 설정 */
    margin-top: 40px; /* 위쪽 여백 조정 */
}

body {
    background-image: url('../images/base.jpg'); /* 이미지 경로 확인해서 수정*/
    background-size: cover; /* 배경 이미지를 페이지에 맞게 조절 */
    background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
}

h1 {
    text-align: center; /* 텍스트를 중앙에 정렬 */
    margin-top: 50px; /* 상단 여백 조정 */
    font-family: "Nanum Gothic";
    margin-bottom: 20px; /* h1 요소의 하단 마진을 설정 */
    font-size: 20px;
}

/* 추가된 스타일 */
.condition-specific {
    display: none;
    margin: 10px auto; /* 표 간 간격 조정 */
    max-width: 80%; /* 표의 최대 너비 지정 */
    background-color: white; /* 표 배경색 지정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    border-radius: 8px; /* 모서리 둥글게 만듦 */
}

th {
    background-color: #ADD8E6; /* 헤더 배경색을 #6495ED로 설정 */
    color: black; /* 헤더 글자색을 하양(#FFFFFF)으로 설정 */
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

td {
    background-color: #FFFFFF; /* 나머지 셀 배경색을 하양(#FFFFFF)으로 설정 */
    padding: 10px;
    text-align: center;
    font-size: 17px;
}


table th, table td {
    text-align: center;
    padding: 20px; /* 셀 패딩을 더 넓게 조정 */
    font-weight: bold; /* 헤더 텍스트 굵게 */
}

