body {
    background-image: url('../images/base.jpg'); /* 이미지 경로 확인해서 수정*/
    background-size: cover; /* 배경 이미지를 페이지에 맞게 조절 */
    background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
}

h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}

.test-selection {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    height: 70vh; /* 화면 높이의 70%로 설정 */
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 23px;
}

.test-selection label {
    display: flex; /* 라디오 버튼과 라벨을 수평 정렬하기 위해 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px; /* 라디오 버튼과 라벨 사이의 간격 설정 */
    align-self: flex-start; /* 라디오 버튼을 위로 정렬 */
}

.test-selection label span {
    flex-grow: 1;
    text-align: left;
}

.test-selection button {
    background-color: #6495ED;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Nanum Gothic', cursive;
    display: block; /* 버튼을 라벨 아래 중앙에 위치시킵니다 */
    margin: 20px auto; /* 상하 마진을 추가하고 중앙에 위치시킵니다 */
}

.test-selection button:hover{
    box-shadow: 0px 0px 0px 5px #0a0a23;
}

#imageDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#page {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

#image1, #image2 {
    width: 370px;
    height: 370px;
    border: 3px solid white;
}

#image1 {
    margin-right: 7px;
}

.text {
    width: 750px;
    height: 150px;
    font-size: 15px;
    margin-top: 7px;
}

#btn {
    display: flex;
    justify-content: right;
    margin-right: 330px;
}

button {
    background-color: #6495ED;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Nanum Gothic', cursive;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: translateY(3px);
}
