<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Image Viewer</title>-->
<!--</head>-->
<!--<body>-->

<!--    <hi>This is the image page</hi>-->
<!--    <div th:each="imageBase64 : ${imageBase64List}">-->
<!--        <img th:src="@{'data:image/png;base64,' + ${imageBase64}}" alt="Image from DB"/>-->
<!--        <br/>-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Viewer</title>
</head>
<body>

<img th:src="@{'data:image/png;base64,' + ${imageBase64}}" alt="Image from DB"/>

</body>
</html>
