<!--cookie 저장과 연결, 사용안함-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save_condition</title>
</head>
<body>
    <form action="/save_capture" method="post" th:if="${not selected}">
        <p>조건 선택</p>
        <input type="radio" id="option1" name="option" value="test1">
        <label for="option1">test1</label><br>
        <input type="radio" id="option2" name="option" value="test2">
        <label for="option2">test2</label><br>
<!--        <input type="radio" id="option3" name="option" value="Sun_O">-->
<!--        <label for="option2">Sun_O</label><br>-->
<!--        <input type="radio" id="option4" name="option" value="Sun_X">-->
<!--        <label for="option4">Sun_X</label><br>-->
        <input type="submit" value="Submit">
    </form>
    <div th:if="${selected}">
        <p>설정 조건: <span th:text="${value}"></span></p>
        <form action="/save_capture" method="post">
            <input type="hidden" name="action" value="delete">
            <input type="submit" value="조건 다시 선택">
        </form>
        <button type="button">
            <a href="showImagePage">식물 일지 쓰기</a>
        </button>
    </div>
</body>
</html>