<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <p>식물 조건 설정</p>
    </div
</div>

<tr>
    <td><form:label path = "condition">Condition</form:label></td>
    <td>
        <form:radiobutton path = "condition" value="water" label = "water"/>
        <form:radiobutton path = "condition" value="sun" label = "sun"/>
    </td>
</tr>

<button type="button">
    <a href="/check">확인</a>
</button>

</body>
</html>