<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>1일차 | 선택 3</p>
    <img src="/img/water_o/day1_1.jpeg" width="150" height="150">
    <img src="/img/water_o/day1_2.jpeg" width="150" height="150">

    <p>2일차 | 선택 4</p>
    <img src="/img/water_o/day2_1.jpeg" width="150" height="150">
    <img src="/img/water_o/day2_2.jpeg" width="150" height="150">

    <p>3일차 | 선택 4</p>
    <img src="/img/water_o/day3_1.jpeg" width="150" height="150">
    <img src="/img/water_o/day3_2.jpeg" width="150" height="150">

    <p>4일차 | 선택 3</p>
    <img src="/img/water_o/day4_1.jpeg" width="150" height="150">
    <img src="/img/water_o/day4_2.jpeg" width="150" height="150">

    <p>5일차 | 선택 2</p>
    <img src="/img/water_o/day5_1.jpeg" width="150" height="150">
    <img src="/img/water_o/day5_2.jpeg" width="150" height="150">

</body>
</html>