<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/keyword.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/finishPage.css">
</head>
<body>
    <p id="score"> 0점 입니다 </p>

    <div class="table-container">
        <div id="test1_result" class="condition-specific">
            <table border = "1">
                <th>Day</th>
                <th>Keyword</th>
                <tr>
                    <td> Day 1 </td>
                    <td>
                        <p id="test1_day1_1" style="color:red;">1</p>
                        <p id="test1_day1_2" style="color:red;">1_2</p>
                    </td>
                </tr>
                <tr>
                    <td> Day 2 </td>
                    <td>
                        <p id="test1_day2_1" style="color:red;">2</p>
                    </td>
                </tr>
                <tr>
                    <td> Day 3 </td>
                    <td>
                        <p id="test1_day3" style="color:red;">3</p>
                    </td>
                </tr>
                <tr>
                    <td> Day 4 </td>
                    <td>
                        <p id="test1_day4" style="color:red;">4</p>
                    </td>
                </tr>
                <tr>
                    <td> Day 5 </td>
                    <td>
                        <p id="test1_day5" style="color:red;">5</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="table-container">
        <div id="test2_result" class="condition-specific">
            <table border = "1">
                <caption>
                    <strong>Result</strong>
                </caption>
                <th>Day</th>
                <th>Keyword</th>
                <tr>
                    <td> Day 1 </td>
                    <td>
                        <p id="test2_day1_1" style="color:red;">test1</p>
                    </td>
                </tr>
                <tr>
                    <td> Day 2 </td>
                    <td>
                        <p id="test2_day2_1" style="color:red;">test1</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>