<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>버튼</title>
</head>
<body>
<div class="container">
    <div>
        <button type="button">
            <a href="/view">시각화하기</a>
        </button>
        <button type="button">
            <a href="/cancel">정보초기화하기</a>
        </button>
    </div>
    <div>
        <button type="button">
            <a href="/save_capture">save_condition test</a>
        </button>
        <button type="button">
            <a href="/showImage">show_db test</a>
        </button>
    </div>
</div>

</body>
</html>