<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/List.css">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    </style>
</head>

<body>
<div id="selection" class="test-selection">
    <h1> < 조건 선택 > </h1>
    <label>
        <input type="radio" name="table" value="test1"> WATER (O)
    </label>
    <label>
        <input type="radio" name="table" value="test2"> WATER (X)
    </label>
    <label>
        <input type="radio" name="table" value="test3"> SUN (O)
    </label>
    <label>
        <input type="radio" name="table" value="test4"> SUN (X)
    </label>
    <a href="/image/show">
        <button>Next</button>
    </a>
</div>
</body>
</html>