<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save_condition</title>
</head>
<body>
    <form action="/save_capture" method="post" th:if="${not selected}">
        <input type="radio" id="option1" name="option" value="Sun">
        <label for="option1">Sun</label><br>
        <input type="radio" id="option2" name="option" value="Water">
        <label for="option2">Water</label><br>
        <input type="submit" value="Submit">
    </form>
    <div th:if="${selected}">
        <p>selected: <span th:text="${value}"></span></p>
        <form action="/save_capture" method="post">
            <input type="hidden" name="action" value="delete">
            <input type="submit" value="Delete-cookie">
        </form>
    </div>
</body>
</html>