<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Images</title>
</head>
<body>

<!-- Image Upload Form -->
<form action="/image/upload" method="post" enctype="multipart/form-data">
    <label for="image">Upload Image:</label>
    <input type="file" id="image" name="image" accept="image/*" required>
    <button type="submit">Upload</button>
</form>

<ul>
    <p th:each="image, stat : ${images}">
        <span th:text="${stat.count} + '. ' + ${image.fileName}">1. ImageName</span>
        [<a th:href="@{/image/delete/{id}(id=${image.id})}">삭제</a>]
    </p>
</ul>

<a href="/showTotal">
    <button>다음</button>
</a>

</body>
</html>
