<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Images</title>
    <link rel="stylesheet" href="/css/show_image.css">
    <script src="/js/show_image.js" charset="utf-8"></script>
</head>
<body>

<h1 class="day-log">< 일지를 입력해주세요 ></h1>

<form action="/image/uploadAndMove" method="post" enctype="multipart/form-data">
    <div id="imageDisplay">
        <!-- Upload Section -->
        <div class="image-section">
            <div class="action-button">
                <label for="image">Upload Image:</label>
                <input type="file" id="image" name="uploadImage" accept="image/*" required onchange="displayImage(this)">
            </div>
            <div id="placeholder1" style="width: 300px; height: 300px;"></div>
            <img id="myImage" th:if="${currentImage}" th:src="${currentImage.path}" alt="Description of Image" width="300" height="300" style="display: none;">
        </div>
        <!-- Show Image Section -->
        <div class="image-section">
            <div class="action-button">
                <button type="button" onclick="showImage(event)" value="show image">Show Image</button>
            </div>
            <div id="placeholder2" style="width: 300px; height: 300px;"></div>
            <img id="x-image" th:if="${Ximage}" th:src="@{${Ximage.image_path}}" alt="Description of Image" width="300" height="300" style="display: none;">
        </div>
    </div>
</form>

<div id="radio-container">
    <p> < 식물이 살아있는 정도를 선택해주세요 > </p>

    <div id="radioDisplay">
        <input type="radio" name="plant" value="1" id="radio1"><label for="radio1">완전 죽음</label>
        <input type="radio" name="plant" value="2" id="radio2"><label for="radio2">조금 죽음</label>
        <input type="radio" name="plant" value="3" id="radio3"><label for="radio3">변화 없음</label>
        <input type="radio" name="plant" value="4" id="radio4"><label for="radio4">조금 성장</label>
        <input type="radio" name="plant" value="5" id="radio5"><label for="radio5">매우 성장</label>
    </div>
</div>

<div class="navigation-buttons">
    <!-- 이전 버튼 (첫 페이지면 비활성화) -->
    <a th:if="${currentPage > 1}" th:href="@{/image/show?page=__${currentPage - 1}__}">
        <button>Previous</button>
    </a>

    <a th:if="${currentPage == 1}" style="pointer-events: none;">
        <button disabled>Previous</button>
    </a>

    <!-- 다음 버튼 (5 페이지면 비활성화) -->
    <a th:if="${currentPage < 5}" onclick="submitFormOrAlert()">
        <button type="button">Next</button>
    </a>

    <a th:if="${currentPage == 5}" onclick="submitOrAlert()">
        <button type="button">finish</button>
    </a>
</div>

</body>
</html>
