<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Show Images</title>
        <script src="/js/show_images.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="selection">
            <p>조건 선택</p>
            <label>
                <input type="radio" name="table" value="test1"> Test1
            </label>
            <label>
                <input type="radio" name="table" value="test2"> Test2
            </label>
            <button onclick="submitSelection()">Submit</button>
        </div>

        <div id="imageDisplay" style="display:none;">
            <p id="page">Page 1</p>
            <img id="image1" alt="Image 1" width="300" height="300">
            <img id="image2" alt="Image 2" width="300" height="300">
            <div>
                <input type="text" placeholder="식물 일지 입력" class="text" style="width:600px;height:150px;font-size:15px;">
            </div>
            <br>
            <div>
                <button onclick="changePage(-1)">Previous</button>
                <button onclick="changePage(1)" id="write_submit">Next</button>
            </div>
        </div>
    </body>
</html>
